In [1]:
#import Required libraries
import pandas as pd

In [3]:
#Read the data from the excel file to dataframe
USGS_df = pd.read_excel("D:/MPS Analytics/ALY-6140/ALY6140_Group4_Assignment/Data/USGS_NPWGDv3_excel.xlsx", engine="openpyxl")
USGS_df.head()

,IDUSGS,IDORIG,PLAYTYPE,WELLTYPE,BASIN,FORMSIMPLE,TDS,LATITUDE,LONGITUDE,FIPCODE,...,I129,Rn222,Ra226,Ra228,MICROBES,CHARGEBAL,REMARKS,IDDB,SOURCE,REFERENCE
0,1,WE-B3,Shale,Shale Gas,Appalachian,Marcellus,96570.0,40.2354,-79.4704,42129.0,...,NaN,NaN,NaN,NaN,NaN,100.0,Sr from Chapman et al. (2012),PHANMARCELLUS,NaN,"(Phan and others, 2016)"
1,2,WE-B5,Shale,Shale Gas,Appalachian,Marcellus,96570.0,40.2354,-79.4704,42129.0,...,NaN,NaN,NaN,NaN,NaN,100.0,Sr from Chapman et al. (2012),PHANMARCELLUS,NaN,"(Phan and others, 2016)"
2,3,WE-B7,Shale,Shale Gas,Appalachian,Marcellus,96570.0,40.2354,-79.4704,42129.0,...,NaN,NaN,NaN,NaN,NaN,100.0,Sr from Chapman et al. (2012),PHANMARCELLUS,NaN,"(Phan and others, 2016)"
3,4,WE-B9,Shale,Shale Gas,Appalachian,Marcellus,96570.0,40.2354,-79.4704,42129.0,...,NaN,NaN,NaN,NaN,NaN,100.0,Sr from Chapman et al. (2012),PHANMARCELLUS,NaN,"(Phan and others, 2016)"
4,5,WE-B13,Shale,Shale Gas,Appalachian,Marcellus,96570.0,40.2354,-79.4704,42129.0,...,NaN,NaN,NaN,NaN,NaN,100.0,Sr from Chapman et al. (2012),PHANMARCELLUS,NaN,"(Phan and others, 2016)"

In [4]:
#Descibe the data
USGS_df.describe()

,IDUSGS,TDS,LATITUDE,LONGITUDE,FIPCODE,STATEFIP,COUNTYFIP,ELEVATION,DEPTHUPPER,DEPTHLOWER,...,d34S,d37Cl,K40,d81Br,Sr87Sr86,I129,Rn222,Ra226,Ra228,CHARGEBAL
count,113135.000000,110201.000000,113131.000000,113131.000000,111354.000000,111387.000000,111354.000000,21169.000000,79959.000000,66778.000000,...,16.000000,259.000000,50.000000,94.000000,1378.000000,12.000000,134.000000,812.000000,237.000000,107883.000000
mean,58800.923746,87433.746908,37.874711,-101.252359,38354.683056,38.256987,92.258715,2572.866293,6108.139238,6628.209625,...,14.487500,-0.049421,2259.000000,0.400106,0.710299,351.333333,34.173881,534.145857,705.270756,-5.513620
std,33139.173626,97959.170747,5.865319,7.090990,14749.819228,14.743038,114.402898,2110.986319,3278.812237,3432.833177,...,20.172038,0.446093,1502.847977,0.811465,0.002760,541.049877,25.717859,1520.228732,1706.234980,28.989093
min,1.000000,0.000000,25.281900,-162.959000,1003.000000,1.000000,1.000000,1.500000,1.000000,2.000000,...,-18.570000,-1.300000,120.000000,-1.500000,0.706160,28.000000,0.300000,0.000000,0.028600,-100.000000
25%,30413.500000,9350.000000,32.792156,-106.194660,28129.000000,28.000000,23.000000,532.000000,3380.000000,3790.000000,...,-1.180000,-0.300000,1225.000000,0.105000,0.708800,67.250000,14.925000,0.000000,37.050000,-0.200000
50%,59117.000000,42838.000000,37.283880,-102.719770,40017.000000,40.000000,45.000000,2359.000000,5810.000000,6349.000000,...,14.705000,-0.100000,2000.000000,0.345000,0.709600,155.000000,30.500000,1.220000,320.000000,0.000000
75%,87434.500000,144400.000000,42.500240,-97.489000,48493.000000,48.000000,113.000000,3826.000000,8552.000000,9158.000000,...,32.075000,0.160000,3150.000000,0.677500,0.711147,302.500000,42.900000,386.250000,1022.000000,0.000000
max,115718.000000,530000.000000,71.264240,-75.610000,56045.000000,56.000000,507.000000,11034.000000,24032.000000,28200.000000,...,42.100000,1.800000,6800.000000,2.770000,0.728990,1890.000000,139.000000,16920.000000,24000.000000,100.000000

In [7]:
#Dimension of the dataset
USGS_df.shape

(113135, 209)

In [8]:
import pandas as pd

# URL of the Excel file on GitHub
excel_url = "https://github.com/shr53/ALY6140Capstone/raw/master/Data/USGS_NPWGDv3_excel.xlsx"

# Read the Excel file into a DataFrame
df = pd.read_excel(excel_url)

# Display the DataFrame
print(df)

                                                                               0
id                                                      59d25d63e4b05fe04cc235f9
identifiers                    [{'type': 'DOI', 'scheme': 'https://www.scienc...
title                          U.S. Geological Survey National Produced Water...
summary                        Note: this data release has been superseded by...
body                           <p><strong>Note: this data release has been su...
citation                       Blondes, M.S., Gans, K.D., Engle, M.A., Kharak...
purpose                        The purpose of the U.S. Geological Survey Nati...
maintenanceUpdateFrequency                                              Annually
hasChildren                                                                False
parentId                                                5f9045e482cec5ff998af2fc
contacts                       [{'name': 'Madalyn S Blondes', 'oldPartyId': 2...
webLinks                       [{'type': 'webapp', 'typeLabel': 'Web Applicat...
browseCategories                                                          [Data]
browseTypes                               [ArcGIS REST Map Service, Map Service]
systemTypes                                             [Data Release, Mappable]
tags                           [{'type': 'Theme', 'scheme': 'USGS Thesaurus',...
dates                          [{'type': 'Start', 'dateString': '1905-01-01',...
facets                         [{'enabledServices': [], 'url': 'https://eersc...
files                          [{'cuid': None, 'key': None, 'bucket': None, '...
distributionLinks              [{'uri': 'https://eerscmap.usgs.gov/arcgis/res...
link.rel                                                                    self
link.url                       https://www.sciencebase.gov/catalog/item/59d25...
relatedItems.link.url          https://www.sciencebase.gov/catalog/itemLinks?...
relatedItems.link.rel                                                    related
provenance.annotation          Disclaimer for Provisional Database: The data ...
provenance.dateCreated                                      2017-10-02T15:38:11Z
provenance.lastUpdated                                      2024-02-05T20:17:22Z
spatial.boundingBox.minX                                              -162.77332
spatial.boundingBox.maxX                                                  -75.61
spatial.boundingBox.minY                                                 25.2819
spatial.boundingBox.maxY                                                71.26424
previewImage.from                                                     mapPreview
previewImage.original.uri      https://www.sciencebase.gov/catalog/file/get/5...
previewImage.original.viewUri  https://www.sciencebase.gov/catalog/file/get/5...
previewImage.original.viewUrl  https://www.sciencebase.gov/catalog/file/get/5...
previewImage.original.width                                                  360
previewImage.original.height                                                 240
previewImage.original.size                                                 81128
previewImage.thumbnail.uri     https://www.sciencebase.gov/catalog/file/get/5...
previewImage.thumbnail.width                                                 150
previewImage.thumbnail.height                                                100